:root {
	--black: #000;
	--near-black: #111;
	--dark-gray: #333;
	--mid-gray: #555;
	--gray: #666;
	--silver: #999;
	--light-silver: #aaa;
	--moon-gray: #ccc;
	--light-gray: #eee;
	--mid-light-gray: #ededed;
	--very-light-gray: #d8d8d8;
	--near-white: #f4f4f4;
	--white: #fff;
	--white-two: #f6f6f6;

	--transparent: transparent;

	--black-90: rgba(0, 0, 0, 0.9);
	--black-80: rgba(0, 0, 0, 0.8);
	--black-70: rgba(0, 0, 0, 0.7);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-50: rgba(0, 0, 0, 0.5);
	--black-40: rgba(0, 0, 0, 0.4);
	--black-30: rgba(0, 0, 0, 0.3);
	--black-20: rgba(0, 0, 0, 0.2);
	--black-10: rgba(0, 0, 0, 0.1);
	--black-05: rgba(0, 0, 0, 0.05);
	--black-025: rgba(0, 0, 0, 0.025);
	--black-0125: rgba(0, 0, 0, 0.0125);
	--navy-blue-80: rgba(1, 13, 36, 0.8);

	--white-90: rgba(255, 255, 255, 0.9);
	--white-80: rgba(255, 255, 255, 0.8);
	--white-70: rgba(255, 255, 255, 0.7);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-40: rgba(255, 255, 255, 0.4);
	--white-30: rgba(255, 255, 255, 0.3);
	--white-20: rgba(255, 255, 255, 0.2);
	--white-10: rgba(255, 255, 255, 0.1);
	--white-05: rgba(255, 255, 255, 0.05);
	--white-025: rgba(255, 255, 255, 0.025);
	--white-0125: rgba(255, 255, 255, 0.0125);

	--dark-red: #e7040f;
	--red: #ed5b6c;
	--light-red: #ffdde2;
	--lightest-red: #fff2f2;
	--light-orange: #fff1e2;
	--orange-red: #f05e4e;
	--orange: #e89b44;
	--dark-orange: #f7966b;
	--gold: #efa31c;
	--yellow: #ffd700;
	--light-yellow: #fbf1a9;
	--super-yellow: #fef6e2;
	--dark-purple: #413574;
	--purple: #5e2ca5;
	--light-purple: #a463f2;
	--dark-pink: #d5008f;
	--hot-pink: #ff41b4;
	--pink: #ff80cc;
	--light-pink: #ffa3d7;
	--dark-green: #137752;
	--dull-green: #1a806c;
	--dark-indigo:#111;
	--green: #50b167;
	--bright-green: #9de55e;
	--light-green: #9eebcf;
	--light-grey-green: #d2edd8;
	--green-blue: #07a993;
	--dark-bright-green: #078323;
	--light-green-blue: #e1f3f0;
	--very-light-green: #cbe8d2;
	--navy: #2d3647;
	--dark-navy: #1e2634;
	--darkest-blue: #0b182f;
	--dark-blue: #00449e;
	--gray-blue: #007991;
	--blue: #3c5a99;
	--sky-blue: #0072d6;
	--light-blue: #71cfeb;
	--lightest-blue: #cdecff;
	--very-light-blue: #d6ebfe;
	--lightest-sky-blue: #ebf6f4;
	--bright-sky-blue: #4fa4fa;
	--washed-blue: #4cabd9;
	--moon-blue: #4274d5;
	--washed-green: #e8fdf5;
	--washed-yellow: #fffceb;
	--washed-red: #ffdfdf;
	--washed-gray: #78849a;
	--blue-gray: #cbe8d224;
	--turquoise: #4aab67;
	--medium-turquoise: #4dc1bb;
	--themed-blue-light: #101f38;
	--light-peach: #f9c8c3;
	--coral: #f6bab4;
	--navy-blue: #0c192f;
}
